/*white*/
body{
    background: black;
    color: white;
    text-align: center;
}
div{
    max-width: 365px;
}
.head{
    border: solid;
    margin: auto;
}
.store{
    font-size: 50px;
    border: solid 2px white;
    border-collapse: collapse;
    margin: auto;
}
.store-list{
    border: solid 2px white;
    border-collapse: collapse;
}
.store0{
    color: white;
    transition-duration: 0.3s;
}
.store0:hover {
    background-color: white;
    color: black;
}

